.git
.gitignore

__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
.env.*
!.env.example

*.log
scripts/*response.html

flask_session/*
uploads/*
dados/*
scripts/dados/*
headers_contaazul.json
scripts/headers_contaazul.json
scripts/scripts/headers_contaazul.json
**/credenciais_contaazul.json
**/credenciais_weblocacao.json
**/credentials.json

.DS_Store
Thumbs.db
